<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs'); %>

  <body>
    <%- include('./header.ejs'); %>
     <div class="container">
        <form class="formularioDeNuevoTrabajo" action="/form" method="POST">
          <h5 class="mt-3">Datos del cliente</h5>
          <div class="row">
            <div class="mb-3 col-md-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre">
            </div>
            <div class="mb-3 col-md-3">
              <label for="apellido" class="form-label">Apellido</label>
              <input name="apellido" type="text" class="form-control" id="apellido" placeholder="Apellido">
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-md-3">
              <label for="telefono" class="form-label">Telefono de Contacto</label>
              <input name="telefono" type="text" class="form-control" id="telefono" placeholder="Telefono">
            </div>
            <div class="mb-3 col-md-3">
              <label for="direccion" class="form-label">Dirección</label>
              <input name="direccion" type="text" class="form-control" id="direccion" placeholder="Domicilio">
            </div>
          </div>
          <div class="mb-3 col-sm-12 col-md-6">
            <label for="observaciones" class="form-label">Observaciones</label>
            <textarea name="observaciones" class="form-control" id="observaciones" rows="3"></textarea>
          </div>

          <h5> Carga de equipo </h5>
          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="asunto" class="form-label">Asunto</label>
              <input name="asunto" type="text" class="form-control" id="asunto" placeholder="Asunto">
            </div>
            <div class="row">
              <div class="mb-3 col-md-3">
                <label for="marca" class="form-label">Marca</label>
                <input name="marca" type="text" class="form-control" id="marca" placeholder="Marca">
              </div>
              <div class="mb-3 col-md-3">
                <label for="modelo" class="form-label">Modelo</label>
                <input name="modelo" type="text" class="form-control" id="modelo" placeholder="Modelo">
              </div>
            </div>
            <div class="mb-3 col-md-6">
              <label for="descripcion" class="form-label">Descripcion del trabajo a realizar</label>
              <textarea name="descripcion" class="form-control" id="descripcion" rows="3"></textarea>
            </div>
            <br>
            <!-- Para cambios en próxima versión -->
            <!--  <div class="input-group">
                <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                  <option selected>Seleccione...</option>
                  <option value="1">Pagado</option>
                  <option value="2">No Pagado</option>
                  <option value="3">Parcialmente Pagado</option>
                </select>
                <button class="btn btn-outline-secondary" type="button">Actualizar</button>
              </div> -->
            <br>
            <div class="form-row">
              <div class="mb-3 col-md-6">
                <label for="presupuesto" class="form-label">Presupuesto Estimado</label>
                <input name="presupuesto" step="100" type="number" class="form-control" id="presupuesto">
              </div>
            </div>
            <br>
            <div class="row">
              <button type="submit" class="col-md-6 col-sm-12 btn btn-primary">Guardar Cambios</button>
            </div>
        </form>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/notebook.jpeg" class="d-block w-50" alt="carousel">
            </div>
            <div class="carousel-item">
              <img src="images/notebook.jpeg" class="d-block w-50" alt="carousel">
            </div>
            <div class="carousel-item">
              <img src="images/notebook.jpeg" class="d-block w-50" alt="carousel">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>

      </div>

  </body>

</html>