<!DOCTYPE html>
<html lang="en">
  <%- include('./head.ejs'); %>
<body>
  <%- include('./header.ejs'); %>
<div class="container-menu">
  <div class="container">
    <nav class="nav-menu">
      <ul class="container-menu-items">
        <li class="trabajos-pendientes">
          <a class="btn btn-primary col-md-4" type="button" data-bs-toggle="collapse" data-bs-target="#tabla-pendiente" aria-expanded="false" aria-controls="multiCollapseExample2">Ver pendientes</a>
        </li>
        <li class="trabajos-realizados">
          <a class="btn btn-primary col-md-4" type="button" data-bs-toggle="collapse" data-bs-target="#tabla-realizado" aria-expanded="false" aria-controls="multiCollapseExample2">Ver realizados</a>
        </li>
    </ul>
  </nav>
  </div>
</div>

<div class="container">
  <a href="/form" type="button" class="btn btn-agregar">Agregar trabajo</a>

  <%- include('./pendientes.ejs'); %>  

  <%- include('./realizados.ejs'); %>
</div>
<script>  let tablaPendiente = document.querySelector('#tabla-pendiente');
let ocultar = new bootstrap.Collapse(tablaPendiente , {
  show: true
})  </script>
</body>
</html>