<table class="table multi-collapse" id="tabla-realizado">
    <caption class="titulo-trabajos">Trabajos Realizados</caption>
    <thead>
        <tr>
            <th scope="col" class="d-none">#</td>
            <th scope="col">Imagen</td>
            <th scope="col">Descripción</td>
            <th scope="col">Cliente</td>
            <th scope="col">Presupuesto</td>
            <th scope="col">Estado</td>
            <th scope="col">Editar</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="d-none d-md-table-cell">
                <img src="https://place-hold.it/120" alt="">
                </td>
            <td>
                <p>Monitor parpadea. Chequear batería</p>
            </td>
            <td>
                <p>Salkin Santiago</p>
            </td>
            <td>$2.120</td>
            <td>
                <img src="images/paid.svg" alt="svg" />
            </td>
            <td>
                <a href="/works"><i class="far fa-edit mb-4"></i></a>
                <br>
                <a href="#"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <th class="d-none d-md-table-cell">
                <img src="https://place-hold.it/120" alt="">
                </td>
            <td>
                <p>Monitor parpadea. Chequear batería</p>
            </td>
            <td>
                <p>Salkin Santiago</p>
            </td>
            <td>$2.120</td>
            <td>
                <img src="images/paid.svg" alt="svg" />
            </td>
            <td>
                <a href="/works"><i class="far fa-edit mb-4"></i></a>
                <br>
                <a href="#"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <th class="d-none d-md-table-cell">
                <img src="https://place-hold.it/120" alt="">
                </td>
            <td>
                <p>Monitor parpadea. Chequear batería</p>
            </td>
            <td>
                <p>Salkin Santiago</p>
            </td>
            <td>$2.120</td>
            <td>
                <img src="images/nopaid.svg" alt="svg" />
            </td>
            <td>
                <a href="/works"><i class="far fa-edit mb-4"></i></a>
                <br>
                <a href="#"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <th class="d-none d-md-table-cell">
                <img src="https://place-hold.it/120" alt="">
                </td>
            <td>
                <p>Monitor parpadea. Chequear batería</p>
            </td>
            <td>
                <p>Salkin Santiago</p>
            </td>
            <td>$2.120</td>
            <td>
                <img src="images/nopaid.svg" alt="svg" />
            </td>
            <td>
                <a href="/works"><i class="far fa-edit mb-4"></i></a>
                <br>
                <a href="#"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
    </tbody>
</table>