<%- include('./head.ejs'); %>
<%- include('./header.ejs'); %>
<form method="POST" class="form-register">
    <h2 class="title-register">Registre su cuenta</h2>
    <label>Nombre</label>
    <input class="register-name form-control" placeholder="Ingrese su nombre"/>
    <label>Apellido</label>
    <input class="register-last-name form-control" placeholder="Ingrese su apellido"/>
    <label>Nombre de Usuario</label>
    <input class="register-user-name form-control" placeholder="Ingrese su usuario"/>
    <label>Contraseña</label>
    <input class="register-password form-control" placeholder="Ingrese su contraseña"/>
    <label>Confirmar Contraseña</label>
    <input class="register-confirm-password form-control" placeholder="Repita su contraseña"/>
    <input type="submit" class="register-button btn btn-light" value="Registrarse"/>
    <Link to="/" class="register-button-home"><input class="register-button-home btn btn-light" type="button" value="Volver a inicio"/></Link>
</form>
