<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head.ejs'); %>
</head>
<body>
    <%- include('./header.ejs'); %>
    <div class="container">
        <form class="formularioDeNuevoTrabajo" action="/form" method="PUT">
            <h5 class="mt-3">Datos del cliente</h5>
            <div class="row">
              <div class="mb-3 col-md-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre">
              </div>
              <div class="mb-3 col-md-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input name="apellido" type="text" class="form-control" id="apellido" placeholder="Apellido">
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-3">
                <label for="telefono" class="form-label">Telefono de Contacto</label>
                <input name="telefono" type="text" class="form-control" id="telefono" placeholder="Telefono">
              </div>
              <div class="mb-3 col-md-3">
                <label for="direccion" class="form-label">Dirección</label>
                <input name="direccion" type="text" class="form-control" id="direccion" placeholder="Domicilio">
              </div>
            </div>
            <div class="mb-3 col-sm-12 col-md-6">
              <label for="observaciones" class="form-label">Observaciones</label>
              <textarea name="observaciones" class="form-control" id="observaciones" rows="3"></textarea>
            </div>
  
            <h5> Carga de equipo </h5>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="asunto" class="form-label">Asunto</label>
                <input name="asunto" type="text" class="form-control" id="asunto" placeholder="Asunto">
              </div>
              <div class="row">
                <div class="mb-3 col-md-3">
                  <label for="marca" class="form-label">Marca</label>
                  <input name="marca" type="text" class="form-control" id="marca" placeholder="Marca">
                </div>
                <div class="mb-3 col-md-3">
                  <label for="modelo" class="form-label">Modelo</label>
                  <input name="modelo" type="text" class="form-control" id="modelo" placeholder="Modelo">
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label for="descripcion" class="form-label">Descripcion del trabajo a realizar</label>
                <textarea name="descripcion" class="form-control" id="descripcion" rows="3"></textarea>
              </div>
              <br>
              <br>
              <div class="form-row">
                <div class="mb-3 col-md-6">
                  <label for="presupuesto" class="form-label">Presupuesto Estimado</label>
                  <input name="presupuesto" step="100" type="number" class="form-control" id="presupuesto">
                </div>
              </div>
              <br>
              <div class="row">
                <button type="submit" class="col-md-6 col-sm-12 btn btn-primary">Guardar Cambios</button>
              </div>
          </form>
    </div>

</body>
</html>