header{
  background: #25336a;
}

.logo-ayutec{
  display: block;
  margin: auto;
  max-height: 10vh;
  max-width: 33.33vw;
}

.form-login, .form-register{
  background: #25336a;
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  box-shadow: #808080 2px 2px 6px 1px, #808080 -2px -2px 6px 1px;

}

.user-name, .password, .login-button, .link-register, .register-name, .register-last-name, .register-user-name, 
.register-password, .register-confirm-password, .register-button{
  margin-bottom: 1rem;
  transition: transform 0.5s ease;
  max-width: 50%;
}

.register-button-home{
  margin-bottom: 1rem;
  transition: transform 0.5s ease;
}

.link-register{
  color: #fff;
}

.link-register:hover{
  color: #ff0;
}

.login-button:active, .register-button:active, .register-button-home:active{
  transform: scale(0.9);
}

.container-menu a{ 
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border-bottom: 2px solid #8293ff;
  background: #5467e2;
  text-shadow: 1px 1px black;
  transition: transform 0.3s;
  display:inline-block;
  font-size: 14px;
  min-width: 90%;
  max-width: 90%;
  text-align: center;
  margin:auto;
}

.container-menu a:active{ 
  transform: scale(.9);
}

.container-menu a:hover{ 
  background: #3949AB;
}

.menu-input, .fa-bars, .fa-times{
  position: absolute;  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 48px;
}

.fa-bars,.fa-times{
  font-size: 20px;
  width: 15%;
  pointer-events: none;
  text-align: center;
  margin-right: 1rem;
}

.fa-times{
  font-size: 40px;
}
 
.menu-input{
  opacity: 0;
}
 
.container-menu{
  color: white;
  position: relative;
  background: #6F74DD;
  min-height: 48px;
}
 
.nav-menu{
  display: none;
}
 
.menu-input:checked ~ .nav-menu{
  display: block;
}

.menu-input:checked ~ .fa-bars{
  display: none;
}
 
.menu-input:not(:checked) ~ .fa-times{
  display: none;
}

.container-menu-items{
  padding-top: 48px;
  margin:0;
  border:0;
  display:grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 5vh 1fr;
  padding: 0;
}

.container-menu-items li{
  display: inline;
  margin: 1rem;
  text-align: center;
}

.container-menu{
  position:sticky;
  top: 0;
  z-index: 1020;
  background: white;
}

.trabajos-pendientes{
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  background-color: #fff;
  color: #fff;

}

.trabajos-realizados{
  text-align: center;
  background-color: #fff;
  color: #fff;
  grid-column: 2;
  grid-row: 2;
}

.trabajos-realizados a, .trabajos-pendientes a{
  border-radius: 20px;
}


.trabajos-realizados a:hover, .trabajos-pendientes a:hover{
  cursor: pointer;
}

.titulo-trabajos{
    text-align: center;
    background-color: #25336a;
    color: #fff;
    text-transform: uppercase;
    grid-column: 2;
    grid-row: 2;
    font-weight: bold;
    letter-spacing: 0.10em;
}

.table{
  caption-side: top;
}

.btn-agregar{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  background: #9ca2ba;
  color: #fff;
  transition: transform 0.5s ease;
}

.btn-agregar:hover{
  background: #3949AB;
  color: #fff;
}

.btn-agregar:active{
  background: #6F74DD;
  color: #fff;
  transform: scale(0.9);
}

.trabajo img{
  width: 80px;
  float: left;
}

.trabajo h4{
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}

.off{
  display:none;
}

.off-table{
  display:none;
}

@media screen and (min-width: 480px){
  .form-login{
      max-width: 55vw;
  }

  .form-register{
      max-width: 55vw;
  }

  .fa-bars,.fa-times {
      width: 10%;
  }
}

@media screen and (min-width: 768px){
  .off-table{
      display:inline-block;
  }
  
  .form-login{
      max-width: 40vw;
  }

  .form-register{
      max-width: 40vw;
  }

  .container-menu{
      position:sticky;
      top: 0;
      z-index: 1020;
      padding: 0;
  }
  
  .menu-input, .fa-bars,.fa-times{
      display:none;
  }

  .nav-menu{
      display: block;
  }

  .container-menu-items{
      position:sticky;
      top: 0;
      z-index: 1020;
      padding: 0;
      grid-template-rows: 0vh 1fr;
  }

  .container-menu a{ 
      min-width: 100%;
      max-width: 100%;
  }
}

@media screen and (min-width: 1200px){
  .form-login{
      max-width: 30vw;
  }

  .form-register{
      max-width: 30vw;
  }

  .container-menu-items li{
      min-width: 9vw;
  }
}

.icono-trabajo{
  size: 45px;
}